*.pyc
__pycache__/
.env
.venv/
*.log
.DS_Store
deepgram-python-captions/

*.mp4
venv/
*.wav
*.dylib
# Ignore files in data
data/**/*
# Except for subtitles
!data/**/*.srt
# Ignore logfiles
tests/debug.*
tests/error.*
# Ignore integration artifacts
tests/integration/**/*.srt
tests/**/temp.srt
tests/**/*.txt
# Ignore chat artifact
server/client/static/**/*.txt
# Ignore figure artifacts
figures/TVSM-*
figures/__MACOSX
# Keep figure files
!server/client/static/**/*.wav
