*.pyc
__pycache__/
.env
.venv/
*.log
.DS_Store
config/config.yaml
deepgram-python-captions/

*.mp4
venv/
*.wav
*.dylib
# Ignore files in data
data/**/*
# Except for subtitles
!data/**/*.srt
# Except for test data
!data/test/*.mp3
