PyYAML==6.0.2
pycodestyle==2.12.1
requests==2.32.3
deepgram-sdk==3.7.7
deepgram-captions==1.2.0
uvicorn==0.32.1
fastapi==0.115.6
pytest==8.3.4
openai==1.55.3
srt==3.5.3
tvsm-extractor==1.0.0
soundfile==0.12.1
