@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

html, body {
  --deep-black: 160 0% 100%;
  padding: 0;
  margin: 0;
}
body {
  display: grid;
  padding-top: 2em;
  padding-bottom: 2em;
  justify-items: center;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  background-color: hwb(var(--deep-black));
  align-content: space-between;
  min-height: 80vh;
  > .footer {
    color: white;
    font-family: "Montserrat", sans-serif;
  }
}
