:host {
  display: grid;
  justify-items: end;
  color: hwb(var(--light));
  padding-top: var(--gap-average);
  padding-bottom: var(--gap-average);;
  font-weight: var(--weight-content);
  font-family: var(--font-content);
  grid-template-rows: var(--pane-tall) auto;
  grid-template-columns: var(--pane-wide);
}
