:host {
  padding: var(--gap-average);
  display: grid;
  button {
    cursor: pointer;
    font-size: 1.5em;
    margin: var(--gap-tiny);
    padding: var(--gap-tiny);
    color: hwb(var(--white));
    border: var(--light-border);
    box-shadow: var(--main-shadow);
    text-shadow: var(--button-text-shadow);
    border-radius: var(--button-border-radius);
    background-color: hwb(var(--dark-main));
    font-weight: var(--weight-display);
    font-family: var(--font-display);
  }
}
