
preprocessing: 
  audio_output_format: "wav"



stt:
  primary_engine: "google"
  confidence_threshold: 0.85

emotion:
  detection_enabled: true
  intensity_threshold: 0.6

sound:
  Provider: "openai"
  model: "gpt-4o-latest"
  description_detail: "detailed"
  min_volume_threshold: -30

