:host {
  --light-action: 240 70% 3.9%;
  --light-main: 190 70% 3.9%;
  --light-error: 350 53% 0%;
  --light-focus: 36 35% 0%;
  --dark-action: 240 0% 70%;
  --dark-main: 200 0% 80%;
  --dark-error: 20 0% 80%;
  --dark-focus: 290 0% 80%;
  --focus-shadow: 
    0 3px 7px hwb(var(--light-focus) / 0.5),
    inset 0 3px 3px hwb(var(--light-focus) / 0.5);
  --main-shadow: 
    0 3px 7px hwb(var(--light-main) / 0.5),
    inset 0 3px 3px hwb(var(--light-main) / 0.5);
  --action-shadow: 
    0 3px 7px hwb(var(--light-action) / 0.5),
    inset 0 3px 3px hwb(var(--light-main) / 0.5);
  --error-shadow: 
    0 3px 7px hwb(var(--light-error) / 0.5),
    inset 0 3px 3px hwb(var(--light-error) / 0.5);
  --pane-border-radius: 12px;
  --button-border-radius: 5px;
  --light-border: 1px solid hwb(var(--light) / 0.7);
  --main-border: 1px solid hwb(var(--light-main) / 0.7);
  --focus-border: 1px solid hwb(var(--light-focus) / 0.7);
  --error-border: 1px solid hwb(var(--light-error) / 0.7);
  --button-padding: var(--gap-tiny) var(--gap-average);
  --button-text-shadow: black -1px 1px 2px;
  --title-weight: 500;
  --button-weight: 500;
  --gap-average: 0.9em;
  --gap-small: 0.6em;
  --gap-tiny: 0.3em;
  --gap-big: 2em;
  --button-wide: 15em;
  --pane-tall: 500px;
  --pane-min: 300px;
  --nav-wide: 125px;
}
