:host {
  width: 100%;
  display: grid;
  color: hwb(var(--light));
  gap: var(--gap-small);
  font-weight: var(--weight-content);
  font-family: var(--font-content);
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  > * {
    align-self: center;
    justify-self: center;
  }
}
/* must be > var(--pane-min) + var(nav-wide) */
@media (min-width: 525px) {
  :host {
    grid-template-columns: repeat(
      auto-fill, minmax(var(--nav-wide), 1fr)
    );
  }
}
